@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);

/*
*	Custom CSS - Chapecó Classificados
*	Jonathan Rauber, Nicholas Brutti
*/

/*------------ HEADER -----------------*/
.wrapper{
	position: relative;
}
.banner{
	top: -15px;
	left: -8px;
	position: absolute;
	z-index: 9999;
}
.banner > a > h3{
	font-family: 'Raleway';
	float: right;
	margin: 29px 0px 0px 3px;
	color: rgba(0, 0, 0, .8);
	text-decoration: none;
}
.cc-nav{
	margin-top: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.cc-nav a{ outline: 0 !important; }
.btn-group-actions{
	float: right;
}

/*------------ slider home ------------*/

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

*{padding: 0}
.accordian {
	width: 100%; height: 400px;
	overflow: hidden;
	/*Time for some styling*/
	margin:0px auto;
	font-family: arial, verdana, tahoma;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	float: left;
	border-left: 1px solid #888;
	width: 160px;

	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to
	see the basic accordian*/
}
/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}

.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;
	width: 640px;
}

/*------------ slider anuncio ---------*/

/*Time for the CSS*/
.slider{
	width: 600px; /*Same as width of the large image*/
	max-width: 100%;
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 380px; /*That helps bring the labels down*/
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;

	float: left;
	cursor: pointer;
	transition: all 0.5s;

	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/
/*We are done :)*/
.imgslider {
	margin: 0 auto;
	width: 100%;
	max-height: 100%;
}

/*-------------------------------------*/

/*------------ app --------------------*/
.destaques {
	background-color: #449D44;
}
.destaquestext{
	color: #FFF;
}
.destaques:hover{
	background-color: rgba(, , , .7) !important;
	transition: all 1s;
}

.list-group-item {
	height: 38px;
}

/*------------ welcome ----------------*/

.thumbhome {
	height: 250px;
}
.thumbhome img {
	max-height: 150px;
}

.recentes .media-object {
	max-width: 64px;
	max-height: 64px;
}

/*-------------------------------------*/

/*------------ PAGINA DE CATEGORIAS --------------*/
.catdiv {
	min-height: 200px;
	max-height: 200px;
}
.catimg {
	max-height: 150px;
}

.imgAnuncioPesquisa img {
	max-width: 125px;
	max-height: 125px;
}
/*------------ RESPONSIVE DESIGN -----------------*/

@media screen and (max-width: 767px){
	.banner > a > h3{
		display: none;
	}
	.btn-group-actions{
		margin-top: 15px;
		float: left;
		display: inline-block;
	}
	.btn-group-actions > .btn-success, .btn-group-actions > .navbar-btn{
		display: inline-block;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.btn-group-actions > .btn-success, .btn-group-actions > .navbar-btn{
		display: none;
	}
}

footer{
  float: left;
  width: 100%;
	min-height: 30px;
	background-color: #f5f5f5;
	border-radius: 10px;
}
footer > .row > .col-xs-6 p, footer > .row > .col-xs-6 > .col-xs-6 .text-right a{
	line-height: 30px;
}

.alterarimgperfil {
	max-width: 100%;
	margin: 0 auto;
}

.imgperfil {
	max-height: 200px;
	max-width: 100%;
}
